{{#if child.cid}} 
  <h1>Modify</h1> 
{{else}} 
  <h1>Enlist child</h1> 
{{/if}}

<div class="modifybox">
  <form action="{{#if child.cid}}/ratchild/modify/{{child.cid}}{{else}}/ratchild/new{{/if}}" method="POST">
<div class="form-box">
    <label for="childname">Name of child</label>
    <input type="text" id="childname" name="childname" required="required" value="{{child.name}}"><br/>
</div>
<div class="form-box">
    <label for="childyear">Year</label>
    <input type="number" id="childyear" name="childyear" min="2010" max="2050" required="required" value="{{child.age}}"><br/>
</div>
<div class="form-box">
    <label for="childdesc">Description:</label>
    <textarea id="childdesc" name="childdesc" required="required">{{child.description}}</textarea><br/>
</div>

    <label for="parent">Select Parent:</label>
  <select name="pid" id="pid" required>
  <option value="">-- Select a Parent --</option>
  {{#each parents}}
    <option value="{{this.pid}}" {{#if (eq this.pid ../child.pid)}}selected{{/if}}>{{this.name}}</option>
  {{/each}}
</select>
<br/>

    <label for="actiontype">Action</label>
    <select name="actiontype" id="actiontype">
      <option value="Enlist child" {{#if (eq child.action "Enlist child")}}selected{{/if}}>Enlist child</option>
      <option value="Temporary leave" {{#if (eq child.action "Temporary leave")}}selected{{/if}}>Temporary leave</option>
      <option value="Change class" {{#if (eq child.action "Change class")}}selected{{/if}}>Change class</option>
    </select><br/>

    <label for="URLfile">URL:</label>
    <input type="text" id="URLfile" name="URLfile" placeholder="/img/something.png" value="{{child.cimgURL}}"><br/>

    <input type="submit" class="Updatechildbutton" value="{{#if child.cid}}Update Child{{else}}Create New Child{{/if}}" />

  </form>
</div>
