
    <header>
        <h1>Listed Rat Children</h1>
        </header>

        {{#if session.isAdmin}}
        <div><a href="/ratchild/new"> Enlist child </a> </div>
        {{/if}}

        <div>
            <ul>
              {{#each listOfChildren}}
                <li>
                  <a href="/ratchild/{{this.cid}}">{{this.name}}</a> - {{this.age}} years old
                  Description: {{this.description}}<br/>
                    {{#if ../session.isAdmin}}
                    <a href="/ratchild/modify/{{this.cid}}" class="modify">Modify</a>
                   <a href="/ratchild/delete/{{this.cid}}" class="delete">Delete</a>
                
                        </li>
                   {{/if}}
                    
            {{/each}}   
        </ul>
        </div>
    
