<h2 class="Listed">{{child.name}}</h2>
<p>Age: {{child.age}}</p>
<p>Description: {{child.description}}</p>
<p>Action: {{child.action}}</p>

  <p>Child ID: {{child.cid}}</p>
  <p>Parent ID: {{child.pid}}</p>
<div class="ratimg">

<img src="/images/{{child.cimgURL}}" alt="{{child.name}}" width="300  />
</div>
{{#if child.parentName}}
  <h3 class="P">Parent Info</h3>
  <p>
    Parent:
    <a href="/ratparents/{{child.pid}}">{{child.parentName}}</a>
  </p>
{{else}}
  <p>No parent info available</p>
{{/if}}