<div>
    <h1> Child </h1>

    <div class="ratchildtextcard">

        <div class="ratchildinfo">

            <h2>{{child.name}}</h2> 
            <p>Age: {{child.age}} years old</p>
            <p>Child ID: {{child.cid}}</p>
            <p>Parent ID {{child.pid}}</p>
        </div>
        <div class="ratimage">
            <img src="{{child.cimgURL}}" alt="{{child.cimgURL}}" class="childimage" />
        </div>
    </div>
</div>